global:
  domain: argocd.derviloper.de

configs:
  cm:
    exec.enabled: true
    admin.enabled: false
    dex.config: |
      connectors:
        - config:
            issuer: https://authentik.derviloper.de/application/o/kube-apiserver/
            clientID: kube-apiserver
            clientSecret: $dex.authentik.clientSecret
            insecureEnableGroups: true
            scopes:
              - openid
              - profile
              - email
          name: authentik
          type: oidc
          id: authentik
  rbac:
    policy.csv: |
      g, ArgoCD Admins, role:admin
      g, ArgoCD Viewers, role:readonly
  params:
    server.insecure: true
  secret:
    createSecret: false

extraObjects:
  - apiVersion: bitnami.com/v1alpha1
    kind: SealedSecret
    metadata:
      creationTimestamp: null
      name: argocd-secret
      namespace: argocd
    spec:
      encryptedData:
        dex.authentik.clientSecret: AgAlAYi7vFiu0sUjmc64KsULLL9I7B/XUHDpPbQ/OGtY5xk7iLFHk3Ll1qRlPTqX26Kyr/pk6+a8MFEOrJUp2Cgwq3rlESiF0jVAyuh4+FBDTpkyrtzMP3AAPcpYV6n3I6FVPW8mp+S77J/0jdFysnDksAAp8byov6YQHEfDl9dkSa9yjiKadfZhCB7VE+AxT/U8CmawGc/2RSCrctV6Yqmhc7wk/GPwHiGTnhT45MAQqNeASQR6SVeWBoQWZCVFN9zy+QS1d5pVeum3xmiy0Jt8YngfFpTm7V9U6lNgDQXp9DZOeqYI7xmEVelrmRdZ6XoVSFK9qFxUneMr6L64Xw9363eSal+9v+WxzsdMhxgBZWFU37LstAiafYKe/fSOJcfNHmHDakYlHlcNtKFaO1YOtBYjsxZDfa+TgMmJLGpsOmwWWLS5/AgSSRJ1B+fGy01r2xykONYiNPi99CmJeAJ28PkqbOeRfCNWcIY1jrKndfInQ/XCNqbVlr8WJ0DDiZ8SMl7gg0p6Rh86krFh/JSNY1SQBS3Fb/ipf+J/1Gd09uf57Yjj4vywEeBe2FNhRFsEbzY01MA+FHqLIYHUHitV1SPtwwVd03g+g5QQDv/4qT5EbKNWWrqbQu5Q8ZllYbzyYBHL3yqMAVkrIwOJE+o1g2dh0fI6rj5XNCLsMZYaAx6J3LaW3MRlg1iSBO1Nl9X+B45qAJATlgpcy1fusEhuYPbPG2sLCHIeR7vo5T+9MhVskTz/X2hLZFDhk+ym58xEa7jsBb49LMz+zRPqLYQq1YSiRyErO709qiyo8kr24j35x8uZk/76Gt2WEOx+D0klTWGrgcfenP+w+dmh/f8CUQbBJWAyP3MbjrgUHhSJ6A==
        server.secretkey: AgB877/0Hk8RGLyEd4/rnQyZUFxmh7313LutVTMsOqbPmDzwxCjLuNQ1t0etYnciTnNRKVr1r3WJnPJOKaVNuX4EfiMLFMiVLkTawQmdzVge0y1bF9MPtH2E8MIH4eu2RGraz8kDjA5D7zdKRLSQuyV7gWAWhUkpI5EeeK2uwqZBLbalHmZ+kp5fkOICwuaTiXLwQJMCtw6SxbsjPq+Op88hocI4WKA3lSK+rLBCfeZPNxTgMfeFO9VMZZTLbsq13d952m4JNq8o2+g6iqjQIioTYwWEcp2gPxIV4d/PMfijxCsyxsFPGbCws3tD5Y5WkXyGl08EVGHKYU0rWEvkRTwz8Sx98RoZTtSl+VVExEIET2tdVNDgDtYFK7KQkqzyLHqpD/z2bmm4fDzM7rbhOVao4yq0vEcCHtBy0lOGtV6/ZNaoVYYfqTBPwNU25or12RqxKmSodM1Lms24Mag4NhMFaFunK7Msic4Li0JQl+Z8JfSjYRtF/wLFEPd3oB9rWksRCaOh32LcYbK9IvEjLsZWXZGJ4dRUxObPqWE9yoZ4wAFJg2xv5aeMOFYX6gYtH0s4vSGt1+pwPLhAThvz+181zksRcjaewWlnHmfeRxQKa4l3Km+PkHrzp1BjHar8cRnRJR4J6XOexpdBFHsqV3ndBbNZHPJTyP7D+yQaaJnSqcl8s/pdGTjKfaDL/rqnJNMdveIG+/reAogR+LT15213ML044gL21pQjbT11GPAOEOmP0Ro4GAzY2rJ/wQ==
        webhook.github.secret: AgAFbItL7hbmBp4tEUa62N18mAXdPtIg1/vuRejI8KjAc73tjovdqGKApS1Jq9Tfw0Aeu8GjNUyb5A/NXi/viNGpMRz9f0Rek/HOXJ/UvuUfQBTE/0QciknJYAnwFe9UhcTR5/PHLgJ3c88vKnHv6sfS74+TuxIQgWg/S5nvOxeE986XLHUGYeKOiYnhHluCU4gzYtqMIskRzcrzssHocHvrTZPa5WX5tqq3oK2WM6NeS6jEfrfPeAZ/+Jdh6y/6ayoplwTEl4AbQx+sq+EszEyjhH6BQgimxIVtaszwfNlxn7DOMRwS/vdOOCwEwQrTccH0Jwb5zFwaTbw/rrYG+dMuvOWECz0R/0tVDORVQuWn47KPgPMAgd2UTTeR2fF6XaiK7Kie/nnEfeD7CIiwPaL5MsEdOoVib6l9sMUMJExjLlztwD0NgSI7YPE3TkqF8eo1N80TbdmxNlX7qJUDfftZKro4vxd6bgLYFqj0hEUezSuxy1R4xsQJiqO6nxGT2RhZ959mW7vMlnE+h8S/u4P5NNHfPo1kCx7xpCWVAhVHAAMynZIn/zGfZjACY4r0SzP4WZoZ4epZ/RqtTFEBoIT+QfGIKMYKjAoDntt5wbL3yAI+qdXIcqdSGjzS+F499q87fG42Pf++WnxnADVr2q6AQ28WicPomF4jM+f0ww4n1cTMhL10qYNOBO7TXSDtdr3q759DjjfjxV4GSCJjfA31JUGUUvbPSL+ArvOZ6e5j5A==
      template:
        metadata:
          creationTimestamp: null
          name: argocd-secret
          namespace: argocd
  - apiVersion: traefik.io/v1alpha1
    kind: IngressRoute
    metadata:
      name: argocd-server
      namespace: argocd
    spec:
      routes:
        - kind: Rule
          match: Host(`argocd.derviloper.de`)
          priority: 10
          services:
            - name: argocd-server
              port: 80
