ports:
  web:
    port: 80
    nodePort: 30000
    redirections:
      entryPoint:
        to: websecure
        scheme: https
        permanent: true
    forwardedHeaders:
      trustedIPs:
        - 173.245.48.0/20
        - 103.21.244.0/22
        - 103.22.200.0/22
        - 103.31.4.0/22
        - 141.101.64.0/18
        - 108.162.192.0/18
        - 190.93.240.0/20
        - 188.114.96.0/20
        - 197.234.240.0/22
        - 198.41.128.0/17
        - 162.158.0.0/15
        - 104.16.0.0/13
        - 104.24.0.0/14
        - 172.64.0.0/13
        - 131.0.72.0/22
        - 2400:cb00::/32
        - 2606:4700::/32
        - 2803:f800::/32
        - 2405:b500::/32
        - 2405:8100::/32
        - 2a06:98c0::/29
        - 2c0f:f248::/32

  websecure:
    asDefault: true
    port: 443
    nodePort: 30001
    tls:
      certResolver: letsencrypt
      domains:
        - main: derviloper.de
          sans:
            - "*.derviloper.de"
    forwardedHeaders:
      trustedIPs:
        - 173.245.48.0/20
        - 103.21.244.0/22
        - 103.22.200.0/22
        - 103.31.4.0/22
        - 141.101.64.0/18
        - 108.162.192.0/18
        - 190.93.240.0/20
        - 188.114.96.0/20
        - 197.234.240.0/22
        - 198.41.128.0/17
        - 162.158.0.0/15
        - 104.16.0.0/13
        - 104.24.0.0/14
        - 172.64.0.0/13
        - 131.0.72.0/22
        - 2400:cb00::/32
        - 2606:4700::/32
        - 2803:f800::/32
        - 2405:b500::/32
        - 2405:8100::/32
        - 2a06:98c0::/29
        - 2c0f:f248::/32

extraObjects:
  - apiVersion: bitnami.com/v1alpha1
    kind: SealedSecret
    metadata:
      creationTimestamp: null
      name: cloudflare-api-secret
      namespace: traefik
    spec:
      encryptedData:
        api-token: AgChzpnHiVGONCTOMQM7jHlgQuMEbOO5aNsCrdqtELNwX1Sth05Foz5OrxKvnsCXTUave/Mj2JvTCuHQAYXtc9COuEBSc1myBo4cDuabySqi39gZUCxeRRl5Zr1aI1GgZNJ6CnHDOh23NyRwjYArbUwKI41GKoLo3DcRIYJWUCBqeHeHoCyEVvVkUCatbcBUAX7gyZ5JQqSIQAArJi6JCSZHxf09jn1QdIxEBr04sjeI1GbXgKhZBzu5BZHRlQkxCr+sYiF6wOO0gKG8fdBOurYaSJ0DfBNVadd/z3+s4NW/E5LI9N9EvNvDfG7/+UZI/DkcV1g2Q+hyWupe2UUam4AMaEcFNoI1uweOqZYMwOclMvGWw15bztgmCCpnsOEjseSCA3sGP6K3oMy8VWt/L3FDr/rfLOsSlPdavUBnJAly3Q+XPLY7o4k5anpQW/jZUMSh9xltnWfW5FzCOVXBhryHa4uN/MuZLIquOJB8DtBA/22lIEEeKPHi1rKI0sFp1Jr8xcvGmut15PEx7eCVLHknECSu1K4596MDNENegtbb8Wz3lSU4KemYmbw4EY0WVZw4pNvQf9Br4FjQwoaUR7p3QiqaSmZo+6WK7sTrCdwTvBe5iltcN5qu7vQcAQ0w26LAG7EqjoDDYKkTBpvUrsVcpVclThZrx21CftEHT15daU3kcGmLFdicxoJV3DiSlICgV0pY9jJrCHy5XVpupU6OAerzXcDWAuhj4dLRVVF+ZSq7AgyvJt8O
      template:
        metadata:
          creationTimestamp: null
          name: cloudflare-api-secret
          namespace: traefik
  - apiVersion: traefik.io/v1alpha1
    kind: Middleware
    metadata:
      name: authentik
      namespace: traefik
    spec:
      forwardAuth:
        address: http://authentik-server.authentik.svc.cluster.local/outpost.goauthentik.io/auth/traefik
        trustForwardHeader: true
        authResponseHeaders:
          - X-authentik-username
          - X-authentik-groups
          - X-authentik-entitlements
          - X-authentik-email
          - X-authentik-name
          - X-authentik-uid
          - X-authentik-jwt
          - X-authentik-meta-jwks
          - X-authentik-meta-outpost
          - X-authentik-meta-provider
          - X-authentik-meta-app
          - X-authentik-meta-version
  - apiVersion: traefik.io/v1alpha1
    kind: Middleware
    metadata:
      name: oauth2-proxy
      namespace: traefik
    spec:
      forwardAuth:
        address: http://oauth2-proxy.oauth2-proxy.svc.cluster.local/
        trustForwardHeader: true
        authResponseHeaders:
          - X-Auth-Request-Access-Token
          - Authorization
  - apiVersion: traefik.io/v1alpha1
    kind: IngressRoute
    metadata:
      name: traefik-dashboard-server
      namespace: traefik
    spec:
      routes:
        - kind: Rule
          match: Host(`traefik.derviloper.de`)
          priority: 10
          middlewares:
            - name: authentik
          services:
            - kind: TraefikService
              name: api@internal

providers:
  kubernetesCRD:
    allowCrossNamespace: true

logs:
  access:
    enabled: true
    format: json
    fields:
      headers:
        defaultmode: keep

certificatesResolvers:
  letsencrypt:
    acme:
      email: "daniel.da-silva@gmx.de"
      storage: "/data/acme.json"
      dnschallenge:
        provider: "cloudflare"

env:
  - name: CF_DNS_API_TOKEN
    valueFrom:
      secretKeyRef:
        name: cloudflare-api-secret
        key: api-token

persistence:
  enabled: true

service:
  spec:
    externalTrafficPolicy: Local
