image:
  tag: 1.0.0
extraObjects:
  - apiVersion: traefik.io/v1alpha1
    kind: IngressRoute
    metadata:
      name: homepage-server
      namespace: homepage
    spec:
      routes:
        - kind: Rule
          match: Host(`derviloper.de`)
          priority: 10
          services:
            - name: homepage
              port: 80
