grafana:
  datasources:
    datasources.yaml:
      apiVersion: 1
      datasources:
        - name: Loki
          type: loki
          access: proxy
          url: http://loki.loki.svc.cluster.local:3100

extraManifests:
  - apiVersion: traefik.io/v1alpha1
    kind: IngressRoute
    metadata:
      name: kube-prometheus-stack-server
      namespace: kube-prometheus-stack
    spec:
      routes:
        - kind: Rule
          match: Host(`grafana.derviloper.de`)
          priority: 10
          services:
            - name: kube-prometheus-stack-grafana
              port: 80
